<!doctype html>
{% load static %}
<html lang="zh-cn" class="no-js">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Unfolder用户DEMO</title>
        <link rel="shortcut icon" href="{% static '/img/login.ico' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/login3.css' %}">
<link rel="stylesheet" href="{% static 'css/citySelect.css' %}">

</head>
<body>
<header class="cd-main-header animate-search">
	<div class="cd-logo"><a href="/service/"><img src="{% static 'img/logo.png' %}" alt="Logo"></a></div>

	<nav class="cd-main-nav-wrapper">
		<a href="#search" class="cd-search-trigger cd-text-replace">Search</a>
		<ul class="cd-main-nav navbar-left">
			<li class="dropdown" style="left: 150px">
				<a  href="/service/{{  request.session.city }}/" id="dropdownMenu1" data-toggle="dropdown">{{  request.session.city }}
					<span class="caret"></span>
				</a>
				<div  class="dropdown-menu citylist" role="menu" aria-labelledby="dropdownMenu1">
					<div class="group">
						<h3 style="font-size: 12px;color: #999; width: 68px;overflow: hidden;padding: 10px 10px 0;position: static;">国内城市</h3>
						<div class="citya" style="padding-left: 10px;">
							<a href="/service/上海" class="cities">上海</a>
							<a href="/service/北京" class="cities">北京</a>
							<a href="/service/广州" class="cities">广州</a>
							<a href="/service/深圳" class="cities">深圳</a>
							<a href="/service/天津" class="cities">天津</a>
							<a href="/service/杭州" class="cities">杭州</a>
							<a href="/service/南京" class="cities">南京</a>
							<a href="/service/苏州" class="cities">苏州</a>
							<a href="/service/成都" class="cities">成都</a>
							<a href="/service/武汉" class="cities">武汉</a>
							<a href="/service/重庆" class="cities">重庆</a>
							<a href="/service/西安" class="cities">西安</a>
						</div>
						<h3 style="font-size: 12px;color: #999; width: 68px;overflow: hidden;padding: 10px 10px 0;position: static;margin-top: 5px">国外城市</h3>
						<div class="citya" style="padding-left: 10px;">
							<a class="cities">东京</a>
							<a class="cities">首尔</a>
							<a class="cities">曼谷</a>
							<a class="cities">巴黎</a>
						</div>
						<a style="font-size: 12px;color: #999; overflow: hidden;position: static;margin-top: 10px;float: right" href="/service/cities/">更多城市 ></a>
					</div>
				</div>
			</li>
		</ul>
		<ul class="cd-main-nav">
			<li><a href= "#">美食</a></li>
			<li><a href="#">电影</a></li>
			<li><a href="#">公益</a></li>
			<li><a href="/service/merchant/regist/">商家入驻</a></li>
			<li style="background-color: #5c5d6a"><a data-toggle="modal" href="#login1" data-target="#login1" style="color: white">登陆</a></li>
			<li  style="background-color: #5c5d6a"><a data-toggle="modal" href="#regist1" data-target="#regist1" style="color: white">注册</a></li>
		</ul> <!-- .cd-main-nav -->
	</nav> <!-- .cd-main-nav-wrapper -->

	<a href="#" class="cd-nav-trigger cd-text-replace">菜单<span></span></a>
</header>
<main class="cd-main-content">
</main>
<section id="sort" style="margin-top: 20px;">
	<div class="container">
		<div class="row">
				<div class="whitebox">
					<ul id="myTab" class="nav nav-tabs cs">
						<li class="active">
							<a href="#home" data-toggle="tab">
								国内城市
							</a>
						</li>
						<li><a href="#ios" data-toggle="tab">国外城市</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="home" >
							<div class="inland now-active" id="main">
								<div class="citysearch">
								<span style="display:inline-block">按省份选择：</span>
								<div class="search" style="display: inline-block">
									<div class="citySelect">
										<span class="cityName">北京</span>
										<i class="iconDown"></i>
										<i class="line"></i>
									</div>

									<div class="dropDown" style="display: inline;position: absolute;z-index:5;">
										<div class="dropProv">
											<ul class="dropProvUl dropUl"></ul>
										</div>
										<div class="dropCity">
											<ul class="dropCityUl dropUl"></ul>
										</div>
									</div>
								</div>
								</div>
								<div class="citysearch">
									<span style="display:inline-block">热门城市：</span>
									<div style="display: inline-block">
										<!--A首字母城市-->
										<a href="/service/北京" class="link onecity">北京</a>
										<a href="/service/上海" class="link onecity">上海</a>
										<a href="/service/广州" class="link onecity">广州</a>
										<a href="/service/深圳" class="link onecity">深圳</a>
										<a href="/service/天津" class="link onecity">天津</a>
										<a href="/service/杭州" class="link onecity">杭州</a>
										<a href="/service/南京" class="link onecity">南京</a>
									</div>
								</div>
								<div class="container">
									<div class="row">
										<div id="myScrollspy">
											<ul class="nav myn" id="myNav">
												<h3 style="display:inline-block">按拼音首字母选择：</h3>
												<li class="active"><a href="#a">A</a></li>
												<li><a href="#b">B</a></li>
												<li><a href="#c">C</a></li>
												<li><a href="#d">D</a></li>
												<li><a href="#e">E</a></li>
												<li><a href="#f">F</a></li>
												<li><a href="#g">G</a></li>
												<li><a href="#h">H</a></li>
												<li><a href="#j">J</a></li>
												<li><a href="#k">K</a></li>
												<li><a href="#l">L</a></li>
												<li><a href="#m">M</a></li>
												<li><a href="#n">N</a></li>
												<li><a href="#p">P</a></li>
												<li><a href="#q">Q</a></li>
												<li><a href="#r">R</a></li>
												<li><a href="#s">S</a></li>
												<li><a href="#t">T</a></li>
												<li><a href="#w">W</a></li>
												<li><a href="#x">X</a></li>
												<li><a href="#y">Y</a></li>
												<li><a href="#z">Z</a></li>
											</ul>
										</div>

										<div >
											<div id="a" class="terms">
												<div class="biao">A</div>
												<div class="findHeight">
													<!--A首字母城市-->
                                                 {% for key,value in xcity.items %}
                                                    {% if value == 'a' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="b" class="terms">
												<div class="biao">B</div>
												<div class="findHeight">
													<!--A首字母城市-->
												{% for key,value in xcity.items %}
                                                    {% if value == 'b' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="c" class="terms">
												<div class="biao">C</div>
												<div class="findHeight">
													<!--A首字母城市-->
													                                                 {% for key,value in xcity.items %}
                                                    {% if value == 'c' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="d" class="terms">
												<div class="biao">D</div>
												<div class="findHeight">
													<!--A首字母城市-->
												{% for key,value in xcity.items %}
                                                    {% if value == 'd' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="e" class="terms">
												<div class="biao">E</div>
												<div class="findHeight">
													<!--A首字母城市-->
                                                {% for key,value in xcity.items %}
                                                    {% if value == 'e' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="f" class="terms">
												<div class="biao">F</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'f' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="g" class="terms">
												<div class="biao">G</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'g' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="h" class="terms">
												<div class="biao">H</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'h' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="j" class="terms">
												<div class="biao">J</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'j' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="k" class="terms">
												<div class="biao">K</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'k' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="l" class="terms">
												<div class="biao">L</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'l' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="m" class="terms">
												<div class="biao">M</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'm' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="n" class="terms">
												<div class="biao">N</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'n' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="p" class="terms">
												<div class="biao">P</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'p' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="q" class="terms">
												<div class="biao">Q</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'q' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="r" class="terms">
												<div class="biao">R</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'r' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="s" class="terms">
												<div class="biao">S</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 's' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="t" class="terms">
												<div class="biao">T</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 't' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="w" class="terms">
												<div class="biao">W</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'w' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}

												</div>
											</div>
											<div id="x" class="terms">
												<div class="biao">X</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'x' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="y" class="terms">
												<div class="biao">Y</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'y' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
											<div id="z" class="terms">
												<div class="biao">Z</div>
												<div class="findHeight">
												{% for key,value in xcity.items %}
                                                    {% if value == 'z' %}
                                                        <a href="/service/{{ key }}" class="link ">{{ key }}</a>
                                                    {% endif %}
                                                {% endfor %}
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade" id="ios">
							<h1>正在开发中</h1>
						</div>
					</div>
				</div>
		</div>
	</div>

</section>

<div id="search" class="cd-main-search">
	<form action="{% url 'search1' %}" method="POST" >
        {% csrf_token %}
		<input type="search" placeholder="搜索旅行地/酒店/景点" class="form-vertical"  name="search11" >

		<div class="cd-select">
			<span>在</span>
			<select name="select-category">
				<option value="all-categories">所有</option>
				<option value="category1">旅行地</option>
				<option value="category2">店铺</option>
				<option value="category3">景点</option>
			</select>
			<span class="selected-value">所有</span>
		</div>
         <input  class="form-vertical" style="z-index: 100000;margin-top: 500px ;display: none" type="submit" value="提交">
	</form>

	<div class="cd-search-suggestions">
		<div class="news">
			<h3>News</h3>
			<ul>
				<li>
					<a class="image-wrapper" href="#"><img src="img/placeholder.png" alt="News image"></a>
					<h4><a class="cd-nowrap" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
					<time datetime="2016-01-12">Feb 03, 2016</time>
				</li>

				<li>
					<a class="image-wrapper" href="#0"><img src="img/placeholder.png" alt="News image"></a>
					<h4><a class="cd-nowrap" href="#0">Incidunt voluptatem adipisci voluptates fugit beatae culpa eum, distinctio, assumenda est ad</a></h4>
					<time datetime="2016-01-12">Jan 28, 2016</time>
				</li>

				<li>
					<a class="image-wrapper" href="#0"><img src="img/placeholder.png" alt="News image"></a>
					<h4><a class="cd-nowrap" href="#0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, esse.</a></h4>
					<time datetime="2016-01-12">Jan 12, 2016</time>
				</li>
			</ul>
		</div> <!-- .news -->

		<div class="quick-links">
			<h3>Quick Links</h3>
			<ul>
				<li><a href="#0">Find a store</a></li>
				<li><a href="#0">Accessories</a></li>
				<li><a href="#0">Warranty info</a></li>
				<li><a href="#0">Support</a></li>
				<li><a href="#0">Contact us</a></li>
			</ul>
		</div> <!-- .quick-links -->
	</div> <!-- .cd-search-suggestions -->

	<a href="#0" class="close cd-text-replace">Close Form</a>
</div> <!-- .cd-main-search -->
<div class="cd-cover-layer"></div> <!-- cover main content when search form is open -->


<!-- 会员登录  -->
<div class="modal fade" id="login1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog" style="width: 400px;margin-top: 5%;">
		<div class="modal-content" style="background-color: #eeeeeead;">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close-login" style="display: none">&times;</button>
			<div class="modal-body" style="margin: 15px;">
				<div id="form_container1">
					<input type="text" class="form-control" placeholder="手机号/用户名" id="login_number" value="admin" style="margin-bottom: 30px" />
					<input type="password" class="form-control" placeholder="密码" id="login_password" />
					<div id="rememberOrfindPwd"><span><input id="remember" type="checkbox" style="margin-bottom: -1.5px;"></span><span style="color:#000000;    margin-right: 80px;">记住密码</span><span style="color:#000000">忘记密码</span></div>
					<div style="text-align: center;margin-top: 5px;margin-bottom: 28px;"><input type="button" value="登录" class="button" id="login_btn" /></div>
				</div>
				<div style="margin-top: 50px;text-align: center;"><p>还没有账号?<a id='toRegist'>立即注册</a></p></div>
				<div class="social">
					<p>用其它方式登陆</p>
					<a href=""><img src="{% static 'img/icon/qq.png' %}" alt="qq"></a>
					<a href=""><img src="{% static 'img/icon/weixin.png' %}" alt="weixin"></a>
					<a href=""><img src="{% static 'img/icon/weibo.png' %}" alt="weibo"></a>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<div class="modal fade" id="regist1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog" style="width: 400px;margin-top: 5%;">
		<div class="modal-content" style="background-color: #eeeeeead;">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close-reg" style="display: none">&times;</button>
			<div class="modal-body" style="margin: 15px;">
				<div id="form_container2" style="padding-top: 25px;">
					<input type="text" class="form-control" value="admin"  placeholder="用户名" id="regist_account"style="margin-bottom: 30px" />
					<input type="password" class="form-control" placeholder="密码" id="regist_password1" style="margin-bottom: 30px"  />
					<input type="password" class="form-control" placeholder="确认密码" id="regist_password2" style="margin-bottom: 30px"  />
					<input type="text" class="form-control" placeholder="手机号" id="regist_phone" style="margin-bottom: 30px"  />
					<input type="text" class="form-control" placeholder="验证码" id="regist_vcode" style="margin-bottom: 30px"  />
					<!--<button id="getVCode" type="button" class="btn btn-success" >获取验证码</button>-->
					<input id="getVCode" type="button" class="btn btn-success" value="点击发送验证码" onclick="sendCode(this)" style="margin-bottom: 30px"  />
				</div>
				<input type="button" value="注册" class="btn btn-success" id="regist_btn" style="margin-bottom: 30px"  />
				<div style="text-align: center;"><p>已有账号?<a id='toLogin'>立即登陆</a></p></div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<footer class="footer-area section-gap">
		<div class="container" style="    padding: 40px 45px;    border-top: 1px solid #E5E5E5;    border-bottom: 1px solid #E5E5E5;">
			<div class="row">
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>用户帮助</h4>
					<ul>
						<li><a href="#">常见问题</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>基于主要API</h4>
					<ul>
						<li><a href="https://lbs.amap.com/">高得地图API</a></li>
						<li><a href="https://echarts.baidu.com/">Echarts</a></li>
						<li><a href="https://ueditor.baidu.com/">Ueditor</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>商家合作</h4>
					<ul>
						<li><a href="#">美食商家入住</a></li>
						<li><a href="#">境内景点商家入住</a></li>
						<li><a href="#">综合商家入住</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>联系我们</h4>
					<ul>
						<li><a href="mailto:1206758827@qq.com">廉政邮箱</a></li>
					</ul>
				</div>

				<div class="col-lg-4 col-md-6 single-footer-widget">
					<h4>公司信息</h4>
                    <ul>
						<li><a href="/">关于我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
<!--<div id='Login_start' style="position: absolute;" >-->
<script src="{% static 'js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript">
    //登录到注册
    $(function () { $('#collapseOne').collapse('hide')});
    $("#toRegist").on('click',function(){
        $("#close-login").trigger("click");
        $('#regist1').modal();
    });

    //注册到登录
    $("#toLogin").on('click',function(){
        $("#close-reg").trigger('click');
        $('#login1').modal();
    });
    var clock = '';
    var nums = 30;
    var btn;
    function sendCode(thisBtn) {
        btn = thisBtn;
        btn.disabled = true; //将按钮置为不可点击
        btn.value = '重新获取（'+nums+'）';
        clock = setInterval(doLoop, 1000); //一秒执行一次
    }

    function doLoop() {
        nums--;
        if (nums > 0) {
            btn.value = '重新获取（'+nums+'）';
        } else {
            clearInterval(clock); //清除js定时器
            btn.disabled = false;
            btn.value = '点击发送验证码';
            nums = 10; //重置时间
        }
    }

    $(document).ready(function(){
        $("#login_QQ").click(function(){
            alert("暂停使用！");
        });
        $("#login_WB").click(function(){
            alert("暂停使用！");
        });
    });
</script>


<script src="{% static 'js/main3.js' %}"></script> <!-- Resource jQuery -->
<script src="{% static 'js/citySelect.js' %}" type="text/javascript"></script>
<script src="{% static 'js/swiper.min.js' %}" type="text/javascript"></script>

</body>
</html>
