/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #333545;
  background-color: #f8f8f8;
}

a {
  color: #dd85ac;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select, input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
}

input[type="search"] {
  border-radius: 0;
  margin-top: 0;
}

select {
  background-color: transparent;
  cursor: pointer;
}

.cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(../img/form.png) no-repeat;
  pointer-events: none;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
.cd-text-replace {
  /* replace text with image */
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
  position: relative;
  z-index: 4;
  height: 50px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-header.nav-is-visible {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
.cd-main-header::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 1024px) {
  .cd-main-header {
    height: 80px;
  }
  .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-main-header::before {
    content: 'desktop';
  }
}

.cd-main-nav-wrapper {
  padding: 0 5%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23);
}
.cd-main-nav-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.cd-logo {
  display: inline-block;
  height: 100%;
  margin-left: 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-logo img {
  display: block;
  margin-top: 14px;
}
@media only screen and (min-width: 1024px) {
  .cd-logo {
    position: absolute;
    z-index: 3;
    margin-left: 5%;
    width: 150px;
  }
  .cd-logo img {
    margin-top: 29px;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .cd-logo img {
    width: 50%;
  }
}

.cd-nav-trigger {
  /* nav trigger - visible on small devices only */
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
}
.cd-nav-trigger span {
  /* nav icon created in CSS */
  position: absolute;
  height: 2px;
  width: 20px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: black;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.nav-is-visible .cd-nav-trigger span {
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-main-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  overflow: auto;
  background: white;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
}
.cd-main-nav a, .cd-main-nav input[type="search"] {
  display: block;
  font-size: 1.6rem;
  padding: 0 2em 0 1em;
  line-height: 50px;
  color: black;
  border-bottom: 1px solid #333545;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.cd-main-nav input[type="search"] {
  background-color: #292a37;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-main-nav input[type="search"]:focus {
  background-color: #333545;
}
.cd-main-nav.nav-is-visible {
  -webkit-transition: visibility 0s;
  -moz-transition: visibility 0s;
  transition: visibility 0s;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 1024px) {
  .cd-main-nav {
    /* reset style */
    position: static;
    visibility: visible;
    width: auto;
    height: 80px;
    background: transparent;
    overflow: visible;
    float: right;
  }
  .cd-main-nav li {
    display: inline-block;
    float: left;
    height: 100%;
    padding: 1.375em .4em;
  }
  .cd-main-nav a {
    padding: .625em .8em;
    line-height: 1;
    border-bottom: none;
  }
  .cd-main-nav a:hover {
    opacity: .6;
  }
}

/* -------------------------------- 

Search Form

-------------------------------- */
.cd-main-search .cd-select {
  /* hide select element on small devices */
  display: none;
}
.cd-main-search .close {
  /* 'X' icon to close search form - hidden on small devices */
  display: none;
}
.cd-main-search input[type="search"] {
  width: 100%;
  color: #ffffff;
}
.cd-main-search input[type="search"]:focus {
  outline: none;
}
.cd-main-search input[type="search"]::-webkit-input-placeholder {
  color: #5c5d6a;
}
.cd-main-search input[type="search"]::-moz-placeholder {
  color: #5c5d6a;
}
.cd-main-search input[type="search"]:-moz-placeholder {
  color: #5c5d6a;
}
.cd-main-search input[type="search"]:-ms-input-placeholder {
  color: #5c5d6a;
}
@media only screen and (min-width: 1024px) {
  .cd-main-search {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: skyblue;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .cd-main-search form {
    position: relative;
    height: 100%;
    /* 170px (margin left) is the sum of the logo width (124px) and additional 46px margin (to separate the form form the logo) */
    /* 116px (margin right) takes into account the space occupied by the a.cd-search-trigger and a.close */
    margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
  }
  .cd-main-search input[type="search"] {
    font-size: 2.4rem;
    height: 100%;
    background-color: transparent;
    /* don't overlap <select> element */
    padding-right: 170px;
  }
  .cd-main-search .cd-select {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #5c5d6a;
    font-size: 1.4rem;
    overflow: hidden;
  }
  .cd-main-search span {
    display: inline-block;
  }
  .cd-main-search option {
    /* style <option> elements on Firefox */
    color: #333545;
    background-color: #ffffff;
  }
  .cd-main-search select {
    /* the <select> element is not visible (if the list of options is not open) -  it is covered by the .selected-value element */
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    color: transparent;
  }
  .cd-main-search select:focus {
    outline: none;
  }
  .cd-main-search select:focus + span.selected-value {
    background-color: #3d3f4e;
  }
  .cd-main-search .selected-value {
    /* this <span> element covers the <select> element - its content is changed (using JavaScript) and set equal to the selected <option> value */
    /* its width automatically changes according to the text of the selected <option> (not possible with a <select> element) */
    color: #ffffff;
    /* clicking on this element will open the <select> drop-down list */
    pointer-events: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .cd-main-search select, .cd-main-search .selected-value {
    padding: 0.5em 1.7em 0.5em .3em;
    font-size: 1.4rem;
    border-radius: 3px;
  }
  .no-pointerevents .cd-main-search .selected-value {
    /* if the browser doesn't support the pointer-events property, hide the .selected-value element */
    display: none;
  }
  .no-pointerevents .cd-main-search select {
    /* if the browser doesn't support the pointer-events property, show the <select> element */
    position: relative;
    color: #ffffff;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .no-pointerevents .cd-main-search select:focus {
    background-color: #3d3f4e;
  }
  .cd-main-search .close {
    /* 'X' icon - used to close the search form */
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    height: 40px;
    width: 40px;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-main-search .close::before, .cd-main-search .close::after {
    /* used to create the 'X' icon in css */
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
  }
  .cd-main-search .close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .cd-main-search .close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .cd-main-search.is-visible {
    /* search form open */
    opacity: 1;
    visibility: visible;
  }
  .cd-main-search.is-visible .close {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
  .animate-search .cd-main-search.is-visible {
    /* trigger search form animation if <header> has the .animate-search class */
    -webkit-animation: cd-slide-in 0.3s;
    -moz-animation: cd-slide-in 0.3s;
    animation: cd-slide-in 0.3s;
  }
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.cd-search-suggestions {
  /* drowpdown with search suggestions - hidden on small devices */
  display: none;
}
@media only screen and (min-width: 1024px) {
  .cd-search-suggestions {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    /* same width of <form> element */
    width: calc( 90% - 286px);
    padding: 2em;
    /* same margin of <form> element */
    margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
    background-color: #ffffff;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.39);
  }
  .cd-search-suggestions::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-search-suggestions .quick-links, .cd-search-suggestions .news {
    display: inline-block;
  }
  .cd-search-suggestions .quick-links {
    float: right;
    width: 140px;
    text-align: right;
  }
  .cd-search-suggestions .news {
    float: left;
    width: calc(100% - 140px);
  }
  .cd-search-suggestions h3 {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    color: #7a7c86;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1em;
  }
  .cd-search-suggestions h4 {
    font-weight: bold;
    font-size: 1.4rem;
  }
  .cd-search-suggestions h4 a {
    /* prevent the text from wrapping */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: .2em 0;
  }
  .cd-search-suggestions a {
    display: inline-block;
    color: #333545;
  }
  .no-touch .cd-search-suggestions a:hover {
    opacity: .8;
  }
  .cd-search-suggestions time {
    font-size: 1.2rem;
    color: #70727d;
  }
  .cd-search-suggestions .news li {
    position: relative;
    padding: 0.625em 0.75em 0.75em 4em;
    margin-bottom: 0.25em;
  }
  .cd-search-suggestions .news li:last-of-type {
    margin-bottom: 0;
  }
  .cd-search-suggestions .image-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
  }
  .cd-search-suggestions .image-wrapper img {
    display: block;
  }
  .cd-search-suggestions .quick-links a {
    padding: .5em 0;
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .animate-search .is-visible .cd-search-suggestions {
    /* trigger the dropdown animation if <header> has the .animate-search class */
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: cd-3d-rotation 0.5s 0.3s;
    -moz-animation: cd-3d-rotation 0.5s 0.3s;
    animation: cd-3d-rotation 0.5s 0.3s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }
}

@-webkit-keyframes cd-3d-rotation {
  0% {
    -webkit-transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: perspective(1000px) translateY(0);
  }
}
@-moz-keyframes cd-3d-rotation {
  0% {
    -moz-transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    -moz-transform: perspective(1000px) translateY(0);
  }
}
@keyframes cd-3d-rotation {
  0% {
    -webkit-transform: perspective(1000px) rotateX(-90deg);
    -moz-transform: perspective(1000px) rotateX(-90deg);
    -ms-transform: perspective(1000px) rotateX(-90deg);
    -o-transform: perspective(1000px) rotateX(-90deg);
    transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: perspective(1000px) translateY(0);
    -moz-transform: perspective(1000px) translateY(0);
    -ms-transform: perspective(1000px) translateY(0);
    -o-transform: perspective(1000px) translateY(0);
    transform: perspective(1000px) translateY(0);
  }
}
.cd-search-trigger {
  /* trigger serach form visibility - hidden on small devices */
  display: none;
}
@media only screen and (min-width: 1024px) {
  .cd-search-trigger {
    display: block;
    position: relative;
    z-index: 3;
    height: 40px;
    width: 40px;
    margin: 1.25em .5em;
    float: right;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-search-trigger::after, .cd-search-trigger:before {
    /* used to create the icon lens and the background circle */
    content: '';
    position: absolute;
  }
  .cd-search-trigger::after {
    /* icon lens */
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 50%;
    width: 50%;
    background: url(../img/search.png) no-repeat;
  }
  .cd-search-trigger::before {
    /* background circle */
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0);
    -o-transform: translateX(-50%) translateY(-50%) scale(0);
    transform: translateX(-50%) translateY(-50%) scale(0);
    height: 100%;
    width: 100%;
    background-color: #dd85ac;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .no-touch .cd-search-trigger:hover::before {
    background-color: #df8bb0;
  }
  .cd-search-trigger.search-form-visible {
    -webkit-transform: translateX(-46px);
    -moz-transform: translateX(-46px);
    -ms-transform: translateX(-46px);
    -o-transform: translateX(-46px);
    transform: translateX(-46px);
  }
  .cd-search-trigger.search-form-visible::before {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

/* -------------------------------- 

Content cover layer

-------------------------------- */
.cd-cover-layer {
  /* cover main content when search form is open - hidden on smal devices */
  display: none;
}
@media only screen and (min-width: 1024px) {
  .cd-cover-layer {
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .cd-cover-layer.search-form-visible {
    opacity: 1;
    visibility: visible;
  }
}

/* -------------------------------- 

Page main content

-------------------------------- */
.cd-main-content {
  display: table;
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

/* -------------------------------- 

JavaScript Disabled

-------------------------------- */
.no-js .cd-main-header {
  height: auto;
}
.no-js .cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}

.no-js .cd-nav-trigger {
  display: none;
}

.no-js .cd-main-nav-wrapper {
  display: inline-block;
  float: right;
}

.no-js .cd-main-nav {
  position: static;
  width: auto;
  height: auto;
  visibility: visible;
  background-color: transparent;
  float: right;
}
.no-js .cd-main-nav::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-main-nav li {
  display: inline-block;
  float: left;
}
.no-js .cd-main-nav a {
  border-bottom: 0;
}

.no-js .cd-search-trigger {
  display: inline-block;
  text-indent: 0;
  color: #ffffff;
  float: right;
  line-height: 50px;
}
@media only screen and (min-width: 1024px) {
  .no-js .cd-search-trigger {
    text-indent: 100%;
    color: transparent;
    line-height: normal;
  }
}

.no-js .cd-main-search {
  position: static;
  opacity: 1;
  visibility: visible;
  padding: 2em 5%;
  background: #333545;
}
.no-js .cd-main-search form {
  margin: 0;
}
.no-js .cd-main-search input[type="search"] {
  background: #333545;
}
.no-js .cd-main-search select {
  position: relative;
  color: #ffffff;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.no-js .cd-main-search select:focus {
  background-color: #3d3f4e;
}
.no-js .cd-main-search .selected-value {
  display: none;
}


.apple-banner {
  width: 100%;
  height: 362px;
  overflow: hidden;
}
.apple-banner .swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-button-prev,.swiper-button-next{
  width: 15%;
  height: 100%;
  top:0;
  background:none;
}
.swiper-button-prev{
  left:0;}
.swiper-button-next{
  right:0;}
.swiper-button-prev span,.swiper-button-next span{
  display:block;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top:-32px;
  border-radius: 100%;
  background: rgba(180,180,180,0.25) url(../img/arrows.png) no-repeat center 17px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.swiper-button-next span{
  background: rgba(180,180,180,0.25) url(../img/arrows.png) no-repeat center -71px;
  left:auto;
  right:20px;
}
.swiper-button-prev:hover span,.swiper-button-next:hover span{
  opacity: .6;
}
/*分页器*/
.apple-banner .swiper-pagination{
  top:auto;
  background:none;
}
.apple-banner  .swiper-pagination-bullet {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 0 3px;
  cursor: pointer;
  background: none;
  border-radius:0;
  opacity: 1;
}
.apple-banner  .swiper-pagination-bullet span {
  width: 50px;
  height: 2px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
}
.apple-banner .swiper-pagination-bullet-active span{
  background: #181818;
}
.apple-banner .autoplay .swiper-pagination-bullet-active span{
  background: rgba(128,128,128,0.2);
}
.apple-banner  .swiper-pagination-bullet i{
  background: gray;
  height: 2px;
  transform:scaleX(0);
  transform-origin: 0;
  display: block;
}
.apple-banner .autoplay .firsrCurrent i{
  transition:transform 2.9s linear;
  transform:scaleX(1);
}
.apple-banner .autoplay .current i{
  transition:transform 4s linear;
  transform:scaleX(1);
}
.apple-banner  .autoplay .replace span{
  background:gray;
}
/*内容样式*/

.slide1 {
  background: #000 url(../img/banner1.jpg) no-repeat ;
  background-size: auto 100%;
}


.slide2 {
  background: #f3f3f3 url(../img/banner2.jpg) no-repeat center ;
  background-size: auto 100%;
}


.slide3 {
  background: #fff url(../img/banner3.jpg) no-repeat center ;
  background-size: auto 100%;
}

.dropdown{position:relative}.dropdown-toggle:focus{outline:0}.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);background-clip:padding-box}.dropdown-menu.pull-right{right:0;left:auto}.dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.428571429;color:#333;white-space:nowrap}.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{text-decoration:none;color:#262626;background-color:#f5f5f5}.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;outline:0;background-color:#428bca}.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{color:#999}.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{text-decoration:none;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);cursor:not-allowed}.open>.dropdown-menu{display:block}.open>a{outline:0}.dropdown-menu-right{left:auto;right:0}.dropdown-menu-left{left:0;right:auto}.dropdown-header{display:block;padding:3px 20px;font-size:12px;line-height:1.428571429;color:#999}.dropdown-backdrop{position:fixed;left:0;right:0;bottom:0;top:0;z-index:990}.pull-right>.dropdown-menu{right:0;left:auto}.dropup .caret,.navbar-fixed-bottom .dropdown .caret{border-top:0;border-bottom:4px solid;content:""}.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:1px}@media (min-width:768px){.navbar-right .dropdown-menu{left:auto;right:0}.navbar-right .dropdown-menu-left{left:0;right:auto}}
.waves-effect{position:relative;cursor:pointer;display:inline-block;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}



.banner-right .form-wrap {
  padding: 40px 30px;
  text-align: center;
}

.primary-btn {
  display: inline-block;
  line-height: 60px;
  width: 100%;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffe165;
  font-size: 18px;
  font-weight: 700;
  color: #121212;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0px;
}

.banner-right .nav-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-right: 1px;
}
.banner-right .nav-item a{
  color: white;
}
.button{
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  padding: 0 28px;
  display: inline-block;
  -webkit-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  position: relative;
  outline: none !important;
  border: none;
  background: #00b0ff;
  color: #fff;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.top-bar{
  margin: 0 auto;
  padding: 7px 0;
  background: #f5f5f5;
}

.nav-tabs {
  border-bottom: 0px;
}

.inp{
  border: none;
  background: #fff;
  width: 100%;
  outline: none !important;
  line-height: 48px;
  height: 48px;
  padding: 0 20px;
  color: #646e7b;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .7px;
  border-radius: 48px;
}

.nav-tabs>li>a {
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 48px;
}
.page-direction-button{
  margin-top: 180px;
}


/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
  position: relative;
  display: inline-block;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 120px;
  left: -15px;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  border: 1px solid #EEE;
}

/* 下拉菜单的链接 */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {background-color: #f1f1f1}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
  margin-top: -15px
}
.dropbtn {
  margin-top: -15px
}

.citia{
  padding-left: 10px;
}
.citya a{
  padding: 0;
  font-size: 11px;
  float: left;
  width: 40px;
  margin-right: 5px;
  color: #515151;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}
.dropdown a{
  color: black;
  text-decoration:none;
}
.citylist{
  border: 1px solid #e3e3e3;
  width: 195px;
  padding-bottom: 18px;
}
.whitebox{
  padding: 5px;
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #e5e5e5;
}
.boxheader{
  margin-bottom: 10px;
}
.boxheader ul{
  display: inline-block;
}
.boxheader ul li{
  display: inline-block;
  margin-left: 20px;
}
.boxheader ul li a{
  position: inherit;
  width: 100%;
  font-size: 18px;
  color: azure;
  text-decoration: none;
}

.boxheader a{
  position: absolute;
  right: 40px;
  top: 23px;
  color: #333;
  font-size: 12px;
  cursor: pointer;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  width: 37px;
}
.boxheadertext{
  font-size: 25px;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.boxelment{
  height: 190px;
  width: 170px;
  padding: 0 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}
.boxmodal{
      padding: 5px;
}
.shops{
  display: block;
  color: #333;
}
.shops-tag{
  margin-top: 12px;
  max-width: 170px;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.star-info{
  font-size: 11px;
  color: #999;
  margin-top: 6px;
  line-height: 11px;
  height: 12px;
}
.area-info{
  font-size: 11px;
  color: #999;
  margin-top: 7px;
  height: 12px;
  line-height: 12px;
}
.avg{
  font-size: 11px;
  color: #999;
  height: 12px;
  margin-top: 5px;
  display: inline-block;
}

.shops-tag a{
  color: black;
}

.shops a img{
  max-width: 150px;
}

.cs li a{
  display: inline-block;
  line-height: 60px;
  width: 270px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: #121212;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.cs >li.active>a{
  border: 0;
}
.cs>li.active>a, .cs>li.active>a:focus, .cs>li.active>a:hover{
  display: inline-block;
  line-height: 60px;
  width: 270px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: #121212;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffe165;
}

.underline {
  border-bottom: 1px solid #f0f0f0;
}
.choose-city {
  display: inline-block;
}
.hotcity {
  padding-top: 26px;
  padding-bottom: 26px;
}
.main-index .title {
  font-size: 16px;
  line-height: 22px;
  color: #666;
  font-weight: 700;
}
.hotcity p {
  display: inline-block;
}
.alphabet {
  padding: 27px 0;
}
.alphabet .letter {
  color: #666;
  cursor: pointer;
}
ol, ul {
  list-style: none;
}
.main-citylist .letter-item {
  margin-bottom: 12px;
  position: relative;
}
.main-citylist .letter-item .oneletter {
  display: inline-block;
  font-size: 24px;
  color: #666;
  position: absolute;
  top: 13px;
  left: 20px;
  transition: color .5s;
}
.main-citylist .letter-item .terms {
  display: inline-block;
  border-left: 8px solid #f8f8f8;
  margin-left: 57px;
  padding: 9px 0;
  height: 48px;
  overflow: hidden;
  background-color: #fff;
  transition: background-color .5s;
  transition: border-color .5s;
}

.main-citylist .letter-item .terms .link {
  display: inline-block;
  padding: 13px 0;
}

.myn{
  display:inline-block
}
.myn li{
  display:inline-block
}

.myn li a{
  font-size: 15px;
  color: #666;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  padding-top: 5px;
}
.terms{
  padding: 13px 30px 13px 10px;
  border-radius: 10px;
  transition: background-color .5s;
}
.biao{
  box-sizing: border-box;
  vertical-align: top;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background: #ffe165;
  box-shadow: 0 4px 5px 0 rgba(39,178,164,.22);
}

.link{
  margin: 10px 20px;
  color: #666;
  display: inline-block;
  font-size: 14px;
}
.findHeight{
  display: inline-block;
  width: 91.66666667%;
}
#myScrollspy{
  border-bottom: 1px solid #E5E5E5;
  padding: 30px;
}
.citysearch{
  border-bottom: 1px solid #E5E5E5;
  padding: 30px;
}
.categories{
  width: 380px;
  padding-bottom: 18px;
}
.catego{
  border-radius: 100px;
  background: #13D1BE;
  color: #FFF;
  padding: 0 10px;
  line-height: 22px;
}
.cat{
  line-height: 28px;
  margin-top: -3px;
}
.catss a{
  padding: 0;
  font-size: 12px;
  float: left;
  width: 80px;
  margin-right: 5px;
  color: #515151;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}
.tag-solid{
  border-radius: 100px;
  background: #13D1BE;
  color: #FFF;
}
.inland{
  border: 2px #ffe165 solid;
  border-radius: 20px;
}

.write{
  display: inline-block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  background: #FF794D;
  border-radius: 1px;
  padding: 0;
  font-size: 0;
  text-align: center;
  margin-right: 8px;
}

.rectify-error{
  height: 34px;
  line-height: 34px;
  border-radius: 1px;
  padding: 0 12px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
  color: #444;
}

 .trumpet-text {
  display: inline-block;
  color: #f63;
  font-size: 14px;
}



 .brief-info{
   margin-top: 13px;
   font-size: 14px;
 }
 .closed-warning{
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .sort{
   font-size: 16px;
   color: #333;
   padding-bottom: 5px;
   font-weight: 700;
   border-bottom: 1px solid #F0F0F0;
 }

 .sort li a{
    margin-top: 0;
    margin-left: 0;
   border-radius: 0;
   color: black;
 }

.sort>li.active>a{
  border-bottom: 4px solid #F63;
}
.sort>li.active>a, .sort>li.active>a:focus, .sort>li.active>a:hover{
  border: 0;
  border-bottom: 4px solid #F63;
}

 .recommend-photo .item {
  position: relative;
  float: left;
  width: 91px;
  height: 96px;
  margin: 0 29px 15px 0;
  border: 1px solid #ebebeb;
}
 .recommend-photo .item img {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 93px;
  height: 69px;
  background-color: #ddd;
}
 .recommend-photo .item .block-link {
  position: absolute;
  left: -1px;
  top: -1px;
  border: 2px solid #fa5e00;
  width: 89px;
  height: 94px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.recommend-photo .item .name {
  margin-top: 68px;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 82px;
}
.recommend-photo .item .price {
  position: absolute;
  top: 1px;
  color: #fff;
  right: 0;
  padding: 0 5px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.65);
}

/*云图*/
.tagcloud { position: relative; }
.tagcloud a{ position: absolute;  top: 0; left: 0;  display: block; padding: 11px 30px; color: #333; font-size: 16px; border: 1px solid #e6e7e8; border-radius: 18px; background-color: #f2f4f8; text-decoration: none; white-space: nowrap;
  -o-box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
  -ms-box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
  -moz-box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
  -webkit-box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
  box-shadow: 6px 4px 8px 0 rgba(151,142,136,.34);
  -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135, Color='#000000')";/*兼容ie7/8*/
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=125, Strength=9);
  /*strength是阴影大小，direction是阴影方位，单位为度，可以为负数，color是阴影颜色 （尽量使用数字）使用IE滤镜实现盒子阴影的盒子必须是行元素或以行元素显示（block或inline-block;）*/
}

.fr {
  float: right;
}

.tip {
  color: #999;
}

.title h4 {
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 700;
}

.shopshow>.item .img-shop {
  border: 1px solid #f0f0f0;
  position: absolute;
  height: 71px;
  width: 95px;
  left: 0;
}
.shopshow>.item{
  position: relative;
  height: 69px;
  margin-top: 15px;
  padding-left: 100px;
  zoom: 1;
}
.shopshow>.item a{
  color: #282828;
  cursor: pointer;
}
.info{
  margin-top: 45px;
  font-size: 13px;
}

/*星级*/
.atar_Show{background:url(../img/stark2.png); width: 80px; height: 11px;  position:relative; float:left; }
.atar_Show p{ background:url(../img/stars2.png);left:0; height:12px; width:134px;}
.show_number li span{ display:inline-block; line-height:21px;}


.comment-condition {
  background: #f0f0f0;
  height: 100%;
  font-size: 0;
  overflow: hidden;
  margin-top: 10px;
}

 .comment-condition .hd {
  float: left;
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 100px;
  border-right: 1px solid #e6e6e6;
  font-size: 0;
  position: relative;
}
 .comment-condition .content {
  display: inline-block;
  vertical-align: top;
   width: 85%;
  max-height: 100%;
  overflow: hidden;
  font-size: 0;
  margin: 18px 16px 18px 0;
  float: right;
  padding: 0;
}
.comment-condition .hd span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 20px;
  margin: 20px 0 0 17px;
  color: #999;
  line-height: 13px;
}
.comment-condition .content>span {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 16px 16px;
}
 .comment-condition .hd>span {
  font-size: 12px;
}
.comment-condition .hd .arrow-left {
  position: absolute;
  width: 6px;
  height: 12px;
  top: 50%;
  right: 0;
  background-position: -57px -20px;
  margin-top: -6px;
}
 .comment-condition .hd {
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 100px;
  border-right: 1px solid #e6e6e6;
  font-size: 0;
  position: relative;
}
 .comment-condition .content>span>a {
  display: block;
  padding: 0 6px;
  height: 22px;
  line-height: 22px;
  background-color: #fff;
  color: #f63;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  margin: 0;
}
.comment-filter-box {
  line-height: 26px;
  height: 26px;
  padding-left: 19px;}
 .comment-filter-box .filter-item {
  line-height: 26px;
  margin-right: 10px;
  float: left;
  display: block;
  height: 26px;
}
 .clearfix> .radio label {
   float: left;
   margin-left: 15px;
}
 .average{
   display: inline-block;
   color: #8c8c8c;
   font-size: 10px;
 }
.content-text{
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

.sa ul.nav-tabs{
  width: 250px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;

}
.sa ul.nav-tabs li{
  margin: 0;
  border-top: 1px solid #ddd;
}
.sa ul.nav-tabs li:first-child{
  border-top: none;
}
.sa ul.nav-tabs li a{
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
}
.sa ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
  color: #fff;
  background: #0088cc;
  border: 1px solid #0088cc;
}
.sa ul.nav-tabs li:first-child a{
  border-radius: 4px 4px 0 0;
}
.sa ul.nav-tabs li:last-child a{
  border-radius: 0 0 4px 4px;
}
.sa ul.nav-tabs.affix{
  box-shadow: 0 5px 14px 0 rgba(0,0,0,.19);
  top: 80px; /* Set the top position of pinned element */
}
.address-info{
  margin-top: 6px;
}

.item-bottom-info {
  line-height: 20px;
  margin-top: 6px;
}

 .item-bottom-info .item-price-info {
  float: left;
  color: #F60;
  font-size: 15px;
}

 .xc a span{
   background: #FB6433;
   border-radius: 2px;
   position: absolute;
   line-height: 13px;
   width: 20px;
   margin-left: -3px;
   margin-top: 3px;
   text-align: center;
   font-size: 12px;
   color: #fff;
 }

 .shaixuan{
   font-size: 15px;
   line-height: 30px;
   display: inline-block
 }
 .shaixuan a{
   color: black;
   text-decoration: none;
   margin-right:15px;
 }

 .film-info {
    width: 100%;
   max-width: 200px;
    bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,rgba(227, 230, 232, 0.8) 99%);
}
 .film-info .film-score {
    font-size: 12px;
    color: #fff;
    text-align: left;
    margin-top: -48px;
    padding-left: 10px;
    font-weight: 500;
}

 .film-info .film-name {
    text-align: left;
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
    white-space: nowrap;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

 .film-info .buy-ticket {
    background: #FF4949;
    border-radius: 100px;
    color: #fff;
    padding: 2px 12px 3px;
    font-size: 14px;
    position: relative;
    top: -24px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    float: right;
    right: 10px;
}

.film-info .film-score span {
    font-size: 16px;
    color: #FD9827;
    font-weight: 500;
}

/* ========================================================================= *\
    vmcarousel plugin
\* ========================================================================= */

.vmc-container{position: relative;}
.vmc-viewport{overflow: hidden;}
.vmc-centered img{
      box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,0.1);
}

.vmcarousel{list-style-type: none; padding: 0; margin: 0; width: 1000%;}
.vmcarousel:after{content: ''; display: table; clear: both;}
.vmcarousel > li{float: left;}
.vmcarousel > li img{ display: block; margin: 0 auto; max-width: 100%;}

.vmc-container.hide-controls .vmc-arrow-left, .vmc-container.hide-controls .vmc-arrow-right{display: none;}

.vmc-arrow-left, .vmc-arrow-right{
    position: absolute; top: 50%; left: -15px; width: 50px; height: 50px; margin-top: -25px; overflow: hidden;
    opacity: 0; border-radius: 50%; transition: opacity 0.3s ease;
    text-align: center;
}
.vmc-arrow-right{left: auto; right: -15px;}
.vmc-container:hover .vmc-arrow-left, .vmc-container:hover .vmc-arrow-right{opacity: 1;}

.vmc-arrow-left:after, .vmc-arrow-right:after{
    content: ''; display: inline-block;
    font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased;
	 font-size: 50px; line-height: 50px; color: white;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    text-shadow: 2px 2px #000;
}
.vmc-arrow-left:hover:after, .vmc-arrow-right:hover:after{color: white;}
.vmc-arrow-left:after{content: "\e079";}
.vmc-arrow-right:after{content: "\e080";}

.vmc-container img[src$=".svg"]{width: 100% !important; height: auto !important; max-height: 100%;}
.vmcarousel > li {
   max-width: 200px;
  margin: 0 auto;
  margin-left:10px ;
  margin-right:10px ;
}
.notransition{-webkit-transition: none !important; -moz-transition: none !important; -o-transition: none !important; -ms-transition: none !important; transition: none !important;}











#page {
  top: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
}
.panel {
  display: none;
  width: 300px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  box-shadow: inset 0 0 5px 5px #222;
}


#timeline {
  width: 100%;
   height: 400px;
  overflow: hidden;
  margin: 50px auto;
  position: relative;
}

.hrLine{
  margin-top: 72px;
}

#dates {
  width: 760px;
  height: 90px;
  overflow: hidden;
}

#dates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
}

#dates > li > .onepx{
  width: 1px;
  height: 20px;
  margin: 0 auto;
  background: #eee;
}

#dates a {
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
}

#dates .selected {
  font-size: 38px;
  line-height: 30px;
  color: #4f96f5;
  display: block;
  margin-bottom: 20px;
}

#issues {
  /* width: 800px; */
  height: 300px;
  overflow: hidden;
  text-align: center
}

#issues li {
  width: 100%;
  height: 300px;
  list-style: none;
  float: left;
  position: relative;
}


.timeline{
  position: relative;

}

.timeline > button {
  position: absolute;
  border: 0;
  outline: none;
  top: 10px;
  z-index: 9999;
}

.timeline > button > i{
  display: block;
  height: 40px;
  width: 40px;
}

.timeline > button  > i > img{
  float: left;
  width: 100%;
}

.prev{
  left: 0;
}

.next {
  right: 0;
}

.dates{
  position: absolute;
  top: 0;
  z-index: 999;
}

.wrap{
  overflow: hidden;
}

.issues > li > div{
  width: 50%;
  display: block;
  height: 300px;
  position: relative;
}

.issues > li .right > h5{
  background: url(../img/icon_pointoftime.png) no-repeat;
  background-size: contain;
  text-align: left;
  padding-left: 60px;
  font-size: 14px;
  position: absolute;
  left: -7px;
  z-index: 9;
}

.issues > li .left > h5{
  background: url(../img/icon_pointoftime.png) 89.5px 0 no-repeat;
  background-size: contain;
  text-align: left;
  padding-right: 60px;
  font-size: 14px;
  position: absolute;
  right: -7px;
  z-index: 9;
}

.issues > li .right .textArea{
  display: block;
  margin: 50px;
  padding: 20px;
  background: #4F96F5;
  color: #fff;
  border-top-left-radius:0;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
}

.issues > li .left .textArea{
  display: block;
  margin: 50px;
  padding: 20px;
  background: #4F96F5;
  color: #fff;
  border-top-left-radius:12px;
  border-top-right-radius:0;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
}

.issues > li .left .yearLine{
  position: absolute;
  width: 30px;
  height: 1px;
  top: 0;
  right: 0;
  margin:8px 0;
}

.issues > li .right .yearLine{
  position: absolute;
  width: 30px;
  height: 1px;
  top: 0;
  left: 0;
  margin:8px 0;
}

.left{
  float: left;
  border-right: 1px #eee solid;
}

.right{
  float: right;
}



@-webkit-keyframes driving {
  0% {
    -webkit-transform: translateY(-650px);
            transform: translateY(-650px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes driving {
  0% {
    -webkit-transform: translateY(-650px);
            transform: translateY(-650px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.hero__title {
  padding: 3em 2rem 16rem;
  text-align: center;
  color: #080314;
  position: relative;
  z-index: 0001;
  height: 350px;
}

.gps-bg {
  background-color: #ac8dff;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
  overflow: hidden;
}
.gps-bg:after {
  content: '';
  background-color: white;
  position: absolute;
  width: 200%;
  height: 5em;
  bottom: 0;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}
.gps-bg__guts {
  position: absolute;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  width: calc(100% + 1000px);
  height: 100%;
  left: -500px;
}
.gps-bg__bg {
  height: 1300px;
  background-image: url(../img/roads.svg);
  background-position: 50%;
  background-size: 25%;
  position: absolute;
  top: -162px;
  width: 100%;
  -webkit-transform: translateY(-650px);
          transform: translateY(-650px);
  -webkit-animation: driving 10000ms linear 0ms infinite;
          animation: driving 10000ms linear 0ms infinite;
}
.gps-bg__route {
  width: 2em;
  background-color: #fff;
  position: absolute;
  top: -162px;
  bottom: -162px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 0 0 13px 5px rgba(46, 18, 107, 0.25);
}
.gps-bg__route:after {
  content: '';
  width: 60%;
  background-color: #6c38de;
  position: absolute;
  top: 0;
  bottom: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.gps-bg__fade {
  background-image: -webkit-linear-gradient(top, #ac8dff 10%, rgba(172, 141, 255, 0) 100%);
  background-image: linear-gradient(to bottom, #ac8dff 10%, rgba(172, 141, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 1;
}
.gps-bg__marker {
  height: 6em;
  width: 6em;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 0 0.125em 10px 3px rgba(46, 18, 107, 0.25);
}
.gps-bg__marker:after {
  content: '';
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-bottom: 3em solid #6c38de;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
